@use "../constants/colors.scss" as *;

// Button Group

.button-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

// Continue Section

section.named.continue .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-header {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .completed {
        color: $mid-gray;
    }
}

// Navigation Bar

.navbar {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin: 0 auto;

    &-container {
        width: 300px;
        height: 100%;
        box-sizing: border-box;
        padding: 32px 0;
        margin: 0 auto;
        border-radius: 30px;
        background-color: $surface-white;
    }

    .divider {
        height: 2px;
        width: 100%;
        background-color: $surface-light;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    flex: 1 {
        direction: column;
    }
}