@import url("../../constants/colors.css");

.next-rank .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.next-rank .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-rank .content-header div {
    display: flex;
    flex-direction: column;
}

.next-rank .content-header .user {
    align-items: end;
}

.next-rank .progress-bar {
    background-color: var(--background);
}

.rating .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rating .rank-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rating .rank-list .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 8px;
}

.rating .rank-list .divider .dashed-line {
    flex: 1;
    height: 1px;
    border-top: 1px var(--background) dashed;
}

.rating .rank-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.rank-card {
    padding: 10px 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    background-color: var(--surface-light);
    border-radius: 14px;
}

.rank-card .rank-number {
    color: var(--mid-gray);
}

.rank-card svg {
    fill: var(--mid-gray);
}

.rank-card .user-data {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.rank-card .user-data .username {
    color: var(--text);
    cursor: pointer;
}

.rank-card .user-data .username:hover {
    text-decoration: underline;
}

.rank-card.leader {
    background-color: var(--soft-yellow);
}

.rank-card.leader .rank-number {
    color: var(--dark-yellow);
}

.rank-card.leader svg {
    fill: var(--dark-yellow);
}

.rank-card.current-user {
    background-color: var(--text);
}

.rank-card.current-user .rank-number {
    color: var(--primary-yellow);
}

.rank-card.current-user svg {
    fill: var(--primary-yellow);
}

.rank-card.current-user .user-data .username {
    color: var(--surface-white);
}

.rank-card.current-user .user-data .username:hover {
    text-decoration: none;
    cursor: default;
}